*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.bg-shorten-desktop {
  background-image: url(./images/bg-shorten-mobile.svg);
}

.logo {
  fill: #34313D;
}

.socialIcon svg path{
  fill: #fff !important;
}