@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-cyan: 180, 66%, 49%;
  --primary-dark-violet: 257, 27%, 26%;
  --secondary-red: 0, 87%, 67%;
  --neutral-gray: 0, 0%, 75%;
  --neutral-grayish-violet: 257, 7%, 63%;
  --neutral-very-dark-blue: 255, 11%, 22%;
  --neutral-very-dark-violet: 255, 11%, 22%;
  --bg: 225, 33.33%, 95.29%;
}

.button {
  @apply rounded-full h-11 mx-4 bg-primary-cyan text-white hover:bg-opacity-70 transition duration-500 ease-in-out;
}
